.card{
    width: 90%;
    max-width: 400px;
    height: 160px;
    background-color: rgb(20,26,31);
    position:relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 10px black,2px 2px 20px black;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px;

}
.card:hover{
  box-shadow: 2px 2px 10px rgb(61, 101, 157),2px 2px 20px rgb(65, 163, 176);

}
.hovercard img{
    height:80%;
    filter:drop-shadow(2px 2px 10px black)


}
.hovercard{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right ,rgba(88, 204, 227, 0.116),rgba(0, 0, 0, 0.075));
    position: absolute;
    bottom:0;
    transform: translateY(100%);
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
}
.card:hover .hovercard{
    transform: translateY(0%);
}
.card h1{
      background: linear-gradient(to right, rgb(67, 134, 212), white);

    background-clip: text;
    color: transparent;

}