#home{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
        overflow: hidden;
  
}
.lefthome{
    width:50%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.homedetail{
    font-size: 2vmax;
}
.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(66, 180, 205), white);

    background-clip: text;
    color: transparent;

}
.line1{
    font-size: 1em;
}
.righthome{
      width:50%;
    height:100vh;
     display: flex;
    align-items: center;
    justify-content: center;
}
.righthome img{
    width: 60%;
    filter:drop-shadow(2px 2px 20px rgb(92, 92, 166))
    
}
.homedetail .btn{
    padding: 10px 30px;
    border-radius: 40px;
    background-color: rgb(49, 146, 141);
    border:2px solid rgb(36, 56, 48);
    margin-top: 30px;
    font-size: 20px;
    color:black;
    cursor: pointer;
}
 .homedetail .btn:hover{

   background-color: transparent;
   color:  rgb(85, 85, 167);
   transition: all 0.2s;
}
@media (max-width:750px){
    #home{
        flex-direction: column-reverse;
    }
    .lefthome{
        width:100%;
        height:50vh
    }
    .righthome{
                width:100%;
        height:50vh;
        align-items: end;
    }
}